@media screen
  and (min-width: 1281px) {
    div#home-title {
      position: absolute;
      left: 15vw;
      top: 27vh;
    }

    #home-title h1{
      color: white;
      font-size: 50px;
      text-align: center;
    }


    #home-title p {
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 5vh;
    }

    div#home-social{
      position: absolute;
      bottom: 0vh;
      left: 16vw;
    }

    div#home-social img{
      width: 15vh;
      position: relative;
      top: -15vh;
      right: -19vw;
    }

    div#home-social p{
    font-weight: bold;
        color: white;
    }

    #over {
        background-image: url("../images/background_ipad.png");
        background-repeat: no-repeat;
        background-size:100% 100%;
        height: $book-height-vh;
        width: $book-width-vh;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        position: absolute;
        display: block;
        bottom: 0px;
        right: 0px;
    }
    iframe {
        height: $mobile-iframe-height-vh;
        width: $mobile-iframe-width-vh;
        position: absolute;
        top: $top_offset_vh;
        right: $right_offset_vh;
        border: 0px;
        z-index: 1000;
    }


    #ipad-inner-screen {
        height: $mobile-iframe-height-vh;
        width: $mobile-iframe-width-vh;
        position: absolute;
        top: $top_offset_vh;
        right: $right_offset_vh;
        border: 0px;
        background-color: $ipad-inner-screen-color;
    }


    .loading-container h3 {
        color: white;

    }
}
