




@media screen
  and (device-aspect-ratio: 16/9){

}

@media screen
  and (device-aspect-ratio: 16/10){
    div#home-title {
      position: absolute;
      left: 10vw;
      top: 27vh;
    }
    div#home-social{
      position: absolute;
      bottom: 0vh;
      left: 11vw;
    }

}
