
#wrapper {
  min-height: 100vh;
  padding-top: $navbar-height;
  padding-bottom: 0;
  padding-left: 35px;
  padding-right: 35px;

}


.footer {
  width: 100%;
  height: $footer-height;
  padding-top: 20px;
  background-color: $grey-bg-color;

}
